:root {
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --text-color: #e8e8e8;
}

body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30em;
    padding: 1.4em;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.form-card {
    min-width: 30em;
    padding: 1.4em;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 1em;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.form > p {
    font-family: var(--font-DelaGothicOne);
    color: var(--font-color);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.form > p > span {
    font-family: var(--font-SpaceMono);
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

.card > p {
    font-family: var(--font-DelaGothicOne);
    color: var(--font-color);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.card > p > span {
    font-family: var(--font-SpaceMono);
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.oauthButton {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto 15px 15px auto;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.oauthButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.oauthButton:hover {
    color: var(--text-color);
}

.oauthButton:hover::before {
    width: 100%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.link {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s;
}

.link:hover {
    color: var(--text-color);
}

.logout {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: auto 15px 15px auto;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.logout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.logout:hover {
    color: var(--text-color);
}

.logout:hover::before {
    width: 100%;
}
